*{
    padding: 0px;
    margin: 0px;
}

.intro-container{
    margin-top: 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px;
}

.left-intro{
    width: 50%;

    display: flex;
    gap: 20px;
    flex-direction: column;
}

.left-intro h1{
    font-size: 40px;
}

.left-intro p{
    font-size: 25px;
}

.social-icons{
    display: flex;
    gap: 20px;
}
